# <center>***相关性检验***</center>
<br><br><br>

In [72]:
import numpy as np
import pingouin as pg

In [73]:
# Generate random correlated samples
np.random.seed(123)
mean, cov = [4, 6], [(1, .5), (.5, 1)]
x, y = np.random.multivariate_normal(mean, cov, 30).T

## ***皮尔逊相关性分析***

In [74]:
# Compute Pearson correlation
pg.corr(x, y).round(3)

          n      r         CI95%  p-val  BF10  power
pearson  30  0.491  [0.16, 0.72]  0.006  8.55  0.809

## ***斯皮尔曼相关性分析***

In [75]:
pg.corr(x, y, method="spearman").round(3)

           n      r         CI95%  p-val  power
spearman  30  0.509  [0.18, 0.73]  0.004  0.841

## ***肯德尔相关性分析***

In [76]:
pg.corr(x, y, method="kendall").round(3)

          n     r         CI95%  p-val  power
kendall  30  0.37  [0.01, 0.64]  0.004  0.535

## ***几个更稳健的方法***

### **Biweight midcorrelation**
更具鲁棒性，能够在存在异常值或偏斜数据时更准确地估计变量之间的关联

In [77]:
pg.corr(x, y, method="bicor").round(3)

        n      r         CI95%  p-val  power
bicor  30  0.476  [0.14, 0.71]  0.008  0.778

### **Percentage bend correlation**

In [78]:
pg.corr(x, y, method='percbend').round(3)

           n      r        CI95%  p-val  power
percbend  30  0.444  [0.1, 0.69]  0.014   0.71

## ***阳光普照***

In [79]:
import pandas as pd
import pingouin as pg

data = pg.read_dataset('pairwise_corr').iloc[:, 1:]
data.head(3)

   Neuroticism  Extraversion  Openness  Agreeableness  Conscientiousness
0      2.47917       4.20833   3.93750        3.95833            3.45833
1      2.60417       3.18750   3.95833        3.39583            3.22917
2      2.81250       2.89583   3.41667        2.75000            3.50000

### **针对一列**

In [80]:
pg.pairwise_corr(data, columns=['Neuroticism']).round(3)

             X                  Y   method alternative    n      r           CI95%  p-unc       BF10  power
0  Neuroticism       Extraversion  pearson   two-sided  500 -0.350  [-0.42, -0.27]  0.000  6.765e+12  1.000
1  Neuroticism           Openness  pearson   two-sided  500 -0.010    [-0.1, 0.08]  0.817      0.058  0.056
2  Neuroticism      Agreeableness  pearson   two-sided  500 -0.134  [-0.22, -0.05]  0.003      5.122  0.854
3  Neuroticism  Conscientiousness  pearson   two-sided  500 -0.368  [-0.44, -0.29]  0.000  2.644e+14  1.000

### **针对几列**

In [81]:
pg.pairwise_corr(data, columns=['Openness', 'Extraversion', 'Neuroticism'], method='bicor').round(3)

              X             Y method alternative    n      r           CI95%  p-unc  power
0      Openness  Extraversion  bicor   two-sided  500  0.247    [0.16, 0.33]  0.000  1.000
1      Openness   Neuroticism  bicor   two-sided  500 -0.028   [-0.12, 0.06]  0.535  0.095
2  Extraversion   Neuroticism  bicor   two-sided  500 -0.343  [-0.42, -0.26]  0.000  1.000

### **阳光普照**

In [82]:
pg.pairwise_corr(data, method='spearman', alternative='greater', padjust='bonf').round(3)

               X                  Y    method alternative    n      r         CI95%  p-unc  p-corr p-adjust  power
0    Neuroticism       Extraversion  spearman     greater  500 -0.325  [-0.39, 1.0]  1.000   1.000     bonf  0.000
1    Neuroticism           Openness  spearman     greater  500 -0.028   [-0.1, 1.0]  0.735   1.000     bonf  0.012
2    Neuroticism      Agreeableness  spearman     greater  500 -0.151  [-0.22, 1.0]  1.000   1.000     bonf  0.000
3    Neuroticism  Conscientiousness  spearman     greater  500 -0.356  [-0.42, 1.0]  1.000   1.000     bonf  0.000
4   Extraversion           Openness  spearman     greater  500  0.243   [0.17, 1.0]  0.000   0.000     bonf  1.000
5   Extraversion      Agreeableness  spearman     greater  500  0.062  [-0.01, 1.0]  0.083   0.832     bonf  0.398
6   Extraversion  Conscientiousness  spearman     greater  500  0.056  [-0.02, 1.0]  0.106   1.000     bonf  0.345
7       Openness      Agreeableness  spearman     greater  500  0.170    [0.1, 1.0]  0.000   0.001     bonf  0.985
8       Openness  Conscientiousness  spearman     greater  500 -0.007  [-0.08, 1.0]  0.560   1.000     bonf  0.036
9  Agreeableness  Conscientiousness  spearman     greater  500  0.161   [0.09, 1.0]  0.000   0.002     bonf  0.976