# <center>***线性回归（区别于Scikit-Learn，本部分偏统计）***</center>

In [20]:
import numpy as np
import pingouin as pg

In [21]:
df = pg.read_dataset('tips')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

## ***一元线性回归***

In [22]:
pg.linear_regression(df['total_bill'], df['tip']).round(2)

        names  coef    se      T  pval    r2  adj_r2  CI[2.5%]  CI[97.5%]
0   Intercept  0.92  0.16   5.76   0.0  0.46    0.45      0.61       1.23
1  total_bill  0.11  0.01  14.26   0.0  0.46    0.45      0.09       0.12

## ***多元线性回归***

In [23]:
pg.linear_regression(df[['total_bill', 'size']], df['tip']).round(2)

        names  coef    se      T  pval    r2  adj_r2  CI[2.5%]  CI[97.5%]
0   Intercept  0.67  0.19   3.46  0.00  0.47    0.46      0.29       1.05
1  total_bill  0.09  0.01  10.17  0.00  0.47    0.46      0.07       0.11
2        size  0.19  0.09   2.26  0.02  0.47    0.46      0.02       0.36

## ***加权线性回归***

In [24]:
X = [1, 2, 3, 4, 5, 6]
y = [10, 22, 11, 13, 13, 16]
w = [1, 0.1, 1, 1, 0.5, 1]  # Array of weights. Must be >= 0.
pg.linear_regression(X, y, weights=w).round(3)

       names   coef     se      T   pval     r2  adj_r2  CI[2.5%]  CI[97.5%]
0  Intercept  8.998  2.034  4.424  0.011  0.514   0.392     3.351     14.645
1         x1  1.037  0.504  2.057  0.109  0.514   0.392    -0.363      2.436